# remove .sample when you try tfvars

# replace 【YOUR PROJECT】 with your project
# e.g.
# project = "terraform-toshi0607"
# it is better to use different dev project from prod for isolation
project = 【YOUR PROJECT】
region  = "asia-northeast1"
zone    = "asia-northeast1-c"
